.centrarheader {
  text-align: center; /* Centra el contenido horizontalmente */
  background-color: whitesmoke;
  padding: 20px; /* Espacio alrededor del contenido */
}

.headerh1 {
  display: inline-block; /* Permite que el título se comporte como un bloque en línea */
  background-color: #333; /* Color de fondo del título */
  color: #fff; /* Color del texto del título */
  padding: 10px 20px; /* Espacio alrededor del título */
  border-radius: 5px; /* Bordes redondeados para la caja del título */
  font-size: 70px; 
  font-family: 'Bebas Neue', sans-serif;
}
.navul{
  list-style: none; /* Elimina los marcadores de lista */
  padding: 0; /* Elimina el espacio de relleno predeterminado de la lista */
}

.navuli{
  display: inline; /* Hace que los elementos de la lista sean en línea */
  margin-right: 10px; /* Añade un espacio entre los elementos de la lista */
  font-size: 40px;
  font-family: 'Bebas Neue', sans-serif;
  text-decoration: none;
  color: white;
  padding: 0 10;
}
.subtitulo{
  font-size: 30px;
  font-family: 'Bebas Neue', sans-serif;
  text-decoration: none;
  color: rgb(105, 105, 105);
  padding: 0 10px;
  text-align: center;
}
.subtitulo-container{
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; 
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px, rgba(0, 0, 0, 0.22) 0px 5px 8px;
  width: 45%;

}
.contendorcentrado{
  display: flex;
  justify-content: center;
  align-items: center;
}

.libro{
  display: inline-block;
  margin: 10px;
  text-align: center;
  transition: transform 0.3s ease;
}
.libro:hover{
  transform: scale(1.2);
}
.libro img{
  max-width: 200px;
  height: auto;
}
.libro p{
  margin-top: 5px;
  font-size: 14px;
}
.tituloslibro{
  font-family: 'Bebas Neue', sans-serif;
}
.listahorizontal{
  list-style: none;
  padding: 0;
  display: flex;
  margin-right: 20px;

}
.instrucciones {
  max-width: 600px; /* Limita el ancho de las instrucciones para que se vean más legibles */
  margin: 0 ; /* Centra las instrucciones en la página */
  font-family: 'Bebas Neue', sans-serif;
}

.instrucciones p {
  font-size: 24px; /* Tamaño de fuente más grande para el párrafo */
  font-weight: bold; /* Texto en negrita */
  font-family: 'Bebas Neue', sans-serif;
}

.instrucciones ol {
  font-size: 18px; /* Tamaño de fuente para la lista */
  list-style-type: decimal; /* Establece el estilo de marcador de lista */
  padding-left: 20px; /* Espaciado a la izquierda de la lista */
  font-family: 'Bebas Neue', sans-serif;
}

.instrucciones ol li {
  margin-bottom: 10px; /* Espacio entre elementos de lista */
  font-family: 'Bebas Neue', sans-serif;
}
.navlibros{
    display: flex;
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en filas si no caben en una sola línea */
    text-decoration: none; /* Quita el subrayado de los enlaces */
    margin: 10px; /* Espacio entre los elementos */
}
footer {
  background-color: #333; /* Color de fondo del footer */
  color: #fff; /* Color del texto en el footer */
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  font-family: 'Bebas Neue', sans-serif;
}

.footer-contenido {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: 'Bebas Neue', sans-serif;
}

.footer-desarrollo,
.footer-contacto,
.footer-github,
.footer-derechos {
  flex: 1;
  padding: 5px;
}

.footer-derechos {
  background-color: #222; /* Cambia el color de fondo del bloque de derechos */
}




